.chatmain{
	width:69%;
	height: 100%;
}

.chatMessages{
	overflow-y: scroll;
	height: 80%;
}

.SendMessageForm{
	width:50%;
	margin-left: 40px;
	position: absolute;
	bottom: 0px;
}

.SendMessageForm button{
	height: 72px;
}